.American span{
    font-size: 20px;
    color: gray;
}
.l2 span{
font-size: 16px;
color: orangered;
}
.pa35{
    font-size: 14px;
    color: orangered;  
}
.bot{
    margin-top: -18px;
}
.beef{
  color: black;
}
.cans{
    color: red;
}
.beeff{
    color: #1e214e;
}